
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/ManagerPanel/Views/Shared/_LayoutPage1.cshtml";
}

<div style="text-align:center">
    <h1 style="color: #7b0dbb">@TempData["systemerror"]</h1>
    <img src="~/Areas/ManagerPanel/Assets/images/KS4fSTQC7T.gif" />
</div>

