.pagetitle {
    padding: 15px;
    padding-top:0;
    margin: 15px 0;
    margin-top:0;
    border-bottom: 2px solid #7B0DBB;
}
.tablo {
    width: 100%;
    border: 1px solid silver;
}
    .tablo tr th {
        background-color: #f7f7f7;
        border-left: 1px solid silver;
        border-bottom: 1px solid silver;
        padding: 7px;
    }
    .tablo tr td {
        border-left: 1px solid silver;
        border-bottom: 1px solid silver;
        padding: 10px;
    }
.editbutton {
    padding:3px 7px;
    background-color: #ffd800;
    color:#3b3b3b;
    border-radius:3px;
    text-decoration:none;
}
.deletebutton {
    padding: 3px 7px;
    background-color: orangered;
    color: white;
    border-radius: 3px;
    text-decoration: none;
}
.formContainer
{
    border:1px solid silver;
    padding:15px;
}
.validationmesage {
    color: red;
}
.row{
    margin:10px 0;
}
.textbox {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:7px;
}
.formbutton {
    padding: 15px;
    background-color: #7e0490;
    color: white;
    font-size: 15pt;
    border: 1px solid #7e0490;
    border-radius: 5px;
    cursor:pointer;
}
