*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0px;
}

body {
   /* background-color: #efefef;*/
    font-family: Calibri;
}

.menuContainer {
    background-color: #e6e6e6;
}

.logoBase {
    padding: 15px 60px;
    width: 170px;
    background-color: #7b0dbb;
    float: left;
}

    .logoBase img {
        width: 100%;
    }

.userBase {
    width: 300px;
    float: right;
    padding-top: 20px;
}

    .userBase a {
        text-decoration: none;
        color: #7b0dbb;
        margin-left: 15px;
    }

        .userBase a:hover {
            text-decoration: underline;
        }

.clearfix {
    clear: both;
}

.sideMenu {
    min-height: 600px;
    background-color: #e6e6e6;
    color: #7b0dbb;
    width: 290px;
    padding: 15px 0;
    float: left;
}

    .sideMenu label {
        color: gray;
        display: block;
        padding: 3px 15px;
    }

    .sideMenu a {
        display: block;
        padding: 3px 30px;
        text-decoration: none;
        border-bottom: 1px solid #e6e6e6;
    }

        .sideMenu a:hover {
            background-color:#efefef;
            border-bottom: 1px solid #7b0dbb;
        }

.mainContainer {
    width: 1500px;
    float: left;
    padding: 30px;
}

