
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/HomeLayoutPage.cshtml";
}
@section interfacestyle
{
<link href="~/Assets/css/mainFormStyle.css" rel="stylesheet" />
}

<div class="arayer">
</div>
<div class="topInfo">
    <div class="productsMenu">
        <div class="product">
            GENEL ÜRÜN BİLGİLERİ
            ÜRÜN BİLGİLERİ BUTON
            FAV BUTON
            CART BUTON
        </div>
        <br />
        <div class="product">
            GENEL ÜRÜN BİLGİLERİ
            ÜRÜN BİLGİLERİ BUTON
            FAV BUTON
            CART BUTON""
        </div>
    </div>
    <div class="imgArea">
        <img src="~/Assets/Images/MusiCode Logo.jpg" />
    </div>
    <div class="clearfix"></div>
</div>
